{% extends "master.html" %}
{% load static %}

{% block title %}SEGMENT{% endblock %}
{% block PageTitle %}Cost Center{% endblock %}
{% block PageHierechy %}
    <li class="breadcrumb-item tx-15"><a href="{% url 'CompanyDetail' %}">Segment</a></li>
    <li class="breadcrumb-item active" aria-current="page">Cost Center</li>
{% endblock %}

{% block content %}
     <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header flex-between">
                    <div class="col-xl-6">
                        <div class="card-title">Cost Center List</div>
                    </div>
                    <div class="col-xl-6">
                        <div class="row">
                            <div class="col-xl-8">
                                <form method='post' action='' accept-charset='utf-8'
                                      enctype="multipart/form-data" id="searchForm">

                                    {% csrf_token %}
                                    <input type="search" id="search" name="search" class="form-control radius-4"
                                           placeholder="Search here..." oninput="setSearchValue(this.value);">
                                </form>
                            </div>
                            <div class="col-xl-4">
                                <button type="button" class="btn btn-w-lg btn-primary-light"
                                        onclick="AdmineModelJS.ShowBox_CostCenter('NEW');">Add New
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover mb-0 text-md-nowrap">
                            <thead>
                            <tr>
                                <th scope="col"
                                    class="sm-text text-capitalize align-middle text-center border-1 border">S/L
                                </th>
                                <th scope="col" class="sm-text text-capitalize align-middle text-left border-1 border">
                                    Code
                                </th>
                                <th scope="col" class="sm-text text-capitalize align-middle text-left border-1 border">
                                    Name
                                </th>
                                <th scope="col"
                                    class="sm-text text-capitalize align-middle text-center border-1 border">Action
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for data in Cost_Center %}

                                <tr class="align-middle">
                                    <th scope="row" class="xsm-text text-capitalize align-middle text-center">
                                        {{ forloop.counter }}
                                    </th>
                                    <td class="xsm-text text-capitalize align-middle text-left">
                                        {{ data.cost_center_code }}
                                    </td>
                                    <td class="xsm-text text-capitalize align-middle text-left">
                                        {{ data.cost_center_name }}
                                    </td>
                                    <td class="xsm-text text-capitalize align-middle text-center">
                                        <div class="btn-list">
                                            <button class="btn btn-sm btn-def tx-muted"
                                                    onclick="AdmineModelJS.ShowBox_CostCenter('UPDATE^^{{ data.cost_center_code }}^^{{ data.cost_center_name }}');">
                                                <i class="fe fe-edit"></i>
                                            </button>
                                            <button  class="btn btn-sm btn-def tx-muted"
                                            onclick="AdmineModelJS.DeleteBussinessSector('{{ data.id }}')">
                                                <i class="fe fe-trash"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static "AppAdmin.js" %}" type="text/javascript"></script>

    <script>
        let AdmineModelJS = null;
        var add_cost_center = '{% url "AddCostCenter" %}';

        var message = '{{ message }}';

        $(document).ready(function () {
            AdmineModelJS = new AppAdminModel();
            AdmineModelJS.appConstructor();

        });
    </script>


{% endblock %}