{% extends "master.html" %}
{% load static %}

{% block title %}Employee{% endblock %}
{% block PageTitle %}QR CODE {% endblock %}
{#{% block PageHierechy %}#}
{#    <li class="breadcrumb-item tx-15"><a href="{% url 'Dashboard' %}">Admin</a></li>#}
{#    <li class="breadcrumb-item active" aria-current="page">Wharehouse</li>#}
{#{% endblock %}#}
{% block css %}


{% endblock %}

{% block content %}



{% endblock %}
{% block js %}

    <script src="{% static "AppAdmin.js" %}" type="text/javascript"></script>

    <script>

        var AdminModelJS = null;
        $(document).ready(function () {
            AdminModelJS = new AppAdminModel();
            AdminModelJS.appConstructor();
        });

    </script>

{% endblock %}
